amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
Django==1.9.5
django-allauth==0.25.2
kombu==3.0.35
oauthlib==1.1.1
psycopg2==2.6.1
pygame==1.9.1
python-openid==2.2.5
pytz==2016.4
requests==2.10.0
requests-oauthlib==0.6.1
virtualenv==15.0.1
