<!DOCTYPE html>
{% load activity_tags %}
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!--this tells the css file we`re using-->
    <link rel="stylesheet" type="text/css" href="/static/myinstagram/style.css" />
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->

  </head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Myinstagram</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/discover/">Discover</a></li>
        <li class="dropdown">
          <a href="/user/{{ request.user.username }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account
      ({% if user %}{{ user.username }}{% endif %}) <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/accounts/logout">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <form class="form" action="" method="post">
      <div class="form-group">
        {% csrf_token %}
        {{ form.text }}
        <input class="btn btn-primary" type="submit" value="Tweet" />
        {{ form.text.errors }}
      </div>
      </form>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-3">
  </div>
    <div class="col-md-6">
          {% for activity in activities %}
            {% render_activity activity %}
          {% endfor %}
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>



</body>
</html>