.logged-in {
	background-color: #333;
	font-family: 'Lobster';
	color: orange;

}
.logged-out {
	background-color: #333;
	text-align: center;
    font-family: 'Lobster';
    color: orange;

}
.pull-right {
    color: orange;
    font-family: 'Lobster';
}
.welcome {
	padding-top: 140px;
}

/* navigation bar */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 20px;
	text-align: left;
}
li {
	display: inline;
	padding: 8px;
}